
    $dark-blue: #222222;
    $pink: #F1E4E6;
    $dark-pink: #F16D7F;
    $brown: #474040;
    $card-color: #F8F8F8;
    $white:#FFFFFF;
    $hot-pink:#F26376;
    $black:#000000;
    $light-gray:#E1E1E1;
    $dark-gray:#5D5D5D;
    $medium-ligjt-gray:#9F9F9F;

