@import"./reset";
@import"./vaibless";
@import"./mixins";
@import"./general";
@import"./blocks/header";
@import"./blocks/brand";
@import"./blocks/offers";
@import"./blocks/Featured-Items";
@import"./blocks/advanteges.scss";
@import"./blocks/footer.scss";

