.brand {
    display: flex;
    
.brand__title {
    @include font (48px, 58px, 900);
    text-transform: uppercase;
    position: relative;

&::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color:$dark-pink;
    left: -20px;
}

}
.brand__title-wrapper {
    background-color:$pink;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 91px;
    }

    .brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle--pink {
    color: $dark-pink;
}

}