.offers{
&__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 63px 0 0 0;
}
    &__item {
    color:$white ;
    width: 360px;
    min-height: 260px;
    background-color: $brown;
    margin: 0 0 30px;
    @include flex-center;

&--women {
background-image: url(../img/Offers/wooman.png);
display: flex;
flex-direction: column;
}
&--man {
    background-image: url(../img/Offers/man.png);
    display: flex;
    flex-direction: column
}
&--kids {
    background-image: url(../img/Offers/kids.png);
    display: flex;
    flex-direction: column;
}
&--accesories {
    background-image: url(../img/Offers/acses.png);
    width: 100%;
    display: flex;
    flex-direction: column;
}
    }

}
